<% provide(:title, "Photos") %>
<h1 class="first">Photo Gallary</h1>
<ul>
	<li><%= link_to "Patina", patina_path %></li>
	<li><%= link_to "Before and After", before_after_path %></li>
	<li><%= link_to "Rainier", rainier_path %></li>
	<li><%= link_to "Gallary1", photo_gallary1_path %></li>
	<li><%= link_to "Gallary2", photo_gallary2_path %></li>
	<li><%= link_to "Gallary3", photo_gallary3_path %></li>
</ul>