<footer class="footer">
  <small class="center">
    <div class="row">
      <div class="col-lg-3 col-sm-4 col-xs-3 address-col">
        <p class="inline pull-left address">Old Style Shoe Shine & Events L.L.C. <br> 
    Rainier Square <br>
    1310 4th Avenue <br>
    Seattle , WA 98101 <br>
    United States </p>
      </div>
      <div class="col-lg-5 col-sm-3 col-xs-4 brand-col">
        <p class="center inline brand"> Old Style Shoe Shine & Events L.L.C. All rights reserved. &#169; 2016</p>
      </div>
      <div class="col-lg-4 col-sm-5 col-xs-4 icon-col">
        <nav>
          <ul>
            <li><p><%= link_to image_tag("facebook.png", class: "icon"), "https://www.facebook.com/OldStyleShoeShine", target: "_blank" %></p></li>
            <li><p><%= link_to image_tag("twitter.jpg", class: "icon"), "https://twitter.com/Oldstyleshine", target: "_blank" %></p></li>
            <li><p><%= link_to image_tag("instagram.png", class: "icon"), "https://www.instagram.com/Oldstyleshine/", target: "_blank" %></p></li>
            <li><p><%= link_to image_tag("yelp.png", class: "icon"), "https://www.yelp.com/biz/old-style-shoe-shine-and-events-seattle-2", target: "_blank" %></p></li>
            <li><p><%= link_to image_tag("pinterest.png", class: "icon"), "https://www.pinterest.com/Oldstyleshine/", target: "_blank" %></p></li>
          </ul>
        </nav>
      </div>
    </div>
  </small>
</footer>